[package]
name = "main"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
models = { path = "../common/models" }
config = { path = "../config" }
line_protocol = { path = "../common/line_protocol" }
protos = { path = "../common/protos" }
query = { path = "../query_server/query" }
trace = { path = "../common/trace" }
tskv = { path = "../tskv" }
spi = { path = "../query_server/spi" }
mem_allocator = { path = "../common/mem_allocator" }
metrics = { path = "../common/metrics" }
#datafusion = { version = "10.0.0", features = ["scheduler"] }
datafusion = { path = "../common/datafusion_dep" }
async-stream = "0.3"
backtrace = "0.3"
chrono = "0.4"
futures = { version = "0.3", default-features = false, features = ["alloc"] }
libc = "0.2"
warp = {version = "0.3", features = ["tls"]}
base64 = { version = "0.13" }
lazy_static = "1.4"
num_cpus = "1.13.0"
clap = { version = "3", features = ["derive", "env"] }
flatbuffers = "2.1"
once_cell = { version = "1.4.0", features = ["parking_lot"] }
parking_lot = "0.12"
prost = "0.10"
regex = "1.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
snafu = "0.7"
tokio = { version = "1.21", features = ["macros", "net", "parking_lot", "rt-multi-thread", "signal", "sync", "time"] }
tokio-stream = { version = "0.1", features = ["net"] }
tokio-util = { version = "0.7.0" }
tonic = {version = "0.7", features = ["transport", "tls", ]}
ctrlc = "3"
async-trait = "0.1"
[dev-dependencies]
reqwest = "0.11"
