[v3_client]
basicConstraints      = critical,CA:false
subjectKeyIdentifier   = hash
keyUsage              = nonRepudiation, digitalSignature
authorityKeyIdentifier = keyid:always,issuer:always

[v3_server]
basicConstraints      = critical,CA:false
subjectKeyIdentifier   = hash
keyUsage              = nonRepudiation, digitalSignature
authorityKeyIdentifier = keyid:always,issuer:always
subjectAltName        = @alt_names

[alt_names]
DNS.1 = localhost
IP.1  = 127.0.0.1
